 # React Router
RewriteEngine On
 RewriteBase /


  RewriteRule ^main\.jsx$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . src/main.jsx [L] 