 # React Router
#RewriteEngine On
 # RewriteBase /
  #RewriteRule ^index\.html$ - [L]
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
 # RewriteCond %{REQUEST_FILENAME} !-l
  #RewriteRule . /index.html [L] 

# Enable mod_rewrite
RewriteEngine On

# Rewrite all requests to the client-side code directory
RewriteBase /

# Exclude server-side code directory from rewriting
RewriteRule ^server/(.*)$ - [L]

# Rewrite all other requests to the client-side index.html
RewriteRule ^(.+)$ client/index.html [L]
